<!--=========================
Name: Brittany Dockter, Justin Singleton, Gabriel Sanchez
Date: April 19, 2020
Assignment: account reg page
Description: html build for the account reg forms
==========================-->

<div fxLayout="column" style="margin-top: 3%; margin-bottom: 5%;">
    <mat-card fxFlex style="width: 65%; margin-left: 18%; margin-top: 5%" class="mat-elevation-z8">
        <mat-card-title style="text-align: center; font-weight: lighter;">Account Registration</mat-card-title>

        <mat-card *ngIf="errorMessage" class="mat-elevation-z0" style="width: 75%">
            <mat-card-content>
                <div class="msg-error" style="font-weight: lighter;">
                    {{errorMessage}}
                <br />
                </div>
            </mat-card-content>
        </mat-card>
        <!-- setting up form to receive data -->
        <form id="regForm" [formGroup]="registrationForm">
            <mat-card-content fxLayout="column" fxLayoutGap="10px">
                <mat-horizontal-stepper #stepper>
                    <mat-step fxFlex formGroupName="contactInformation"
                        [stepControl]="registrationForm.get('contactInformation')">
                        <ng-template matStepLabel>Contact Information</ng-template>
                        <!-- first item in form is first name and so on -->
                        <mat-list>
                            <mat-list-item>
                                <mat-form-field fxFlex>
                                    <input matInput
                                    formControlName="firstname"
                                    placeholder="First Name"/>
                                </mat-form-field>

                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <mat-form-field fxFlex>
                                    <input matInput
                                    formControlName="lastname"
                                    placeholder="Last Name"/>
                                </mat-form-field>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-form-field fxFlex>
                                    <input matInput
                                    formControlName="phoneNumber"
                                    placeholder="Phone number"/>
                                </mat-form-field>

                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <mat-form-field fxFlex>
                                    <input matInput
                                    formControlName="email"
                                    placeholder="Email"/>
                                </mat-form-field>
                            </mat-list-item>
                            <br/><br/><br/>
                            <mat-list-item>
                                <mat-form-field fxFlex>
                                    <textarea matInput
                                    formControlName="address"
                                    rows="5"
                                    placeholder="Address">
                                </textarea>
                                </mat-form-field>
                            </mat-list-item>
                        </mat-list>
                        <!-- a next button to route to the next portion of the form -->
                        <br/><br/><br/>
                        <div fxLayoutAlign="end" fxFlex>
                            <button mat-raised-button color="accent" matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <!-- the beginning of the security questions for user to answer-->
                    <mat-step formGroupName="securityQuestions"
                        [stepControl]="registrationForm.get('securityQuestions')">
                        <ng-template matStepLabel>Security Questions</ng-template>
                        <!-- the first security question of 3 total -->
                        <mat-list>
                            <mat-list-item>
                                <mat-form-field fxFlex>
                                    <mat-select formControlName="securityQuestion1"
                                        placeholder="Security Question">
                                        <mat-option *ngFor="let question of securityQuestions"
                                            [value]="question._id">
                                            {{question.text}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!-- the answer is attached to the proper question -->
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <mat-form-field fxFlex>
                                    <input matInput
                                        formControlName="answerToSecurityQuestion1"
                                        placeholder="Answer 1"/>
                                </mat-form-field>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-form-field fxFlex>
                                    <mat-select formControlName="securityQuestion2"
                                        placeholder="Security Question">
                                        <mat-option *ngFor="let question of securityQuestions"
                                            [value]="question._id">
                                            {{question.text}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <mat-form-field fxFlex>
                                    <input matInput
                                        formControlName="answerToSecurityQuestion2"
                                        placeholder="Answer 2"/>
                                </mat-form-field>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-form-field fxFlex>
                                    <mat-select formControlName="securityQuestion3"
                                        placeholder="Security Question">
                                        <mat-option *ngFor="let question of securityQuestions"
                                            [value]="question._id">
                                            {{question.text}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <mat-form-field fxFlex>
                                    <input matInput
                                        formControlName="answerToSecurityQuestion3"
                                        placeholder="Answer 3"/>
                                </mat-form-field>
                            </mat-list-item>
                        </mat-list>

                        <div fxLayoutAlign="end">
                            <button mat-raised-button color="accent" matStepperPrevious>Back</button>
                            <button mat-raised-button color="accent" matStepperNext>Next</button>
                        </div>
                    </mat-step>
                    <!-- registration form required login fields -->
                    <mat-step formGroupName="credentials" [stepControl]="registrationForm.get('credentials')">
                        <ng-template matStepLabel>Credentials</ng-template>

                        <mat-list>
                            <mat-list-item>
                                <mat-form-field fxFlex>
                                    <input matInput
                                        formControlName="username"
                                        placeholder="Username"/>
                                </mat-form-field>
                            </mat-list-item>

                            <br/><br/>
                            <mat-list-item>
                                <mat-form-field fxFlex>
                                    <input type="password"
                                    matInput
                                    formControlName="password"
                                    placeholder="Password"/>
                                </mat-form-field>
                            </mat-list-item>
                        </mat-list>

                        <div fxLayoutAlign="end">
                            <button mat-raised-button color="accent" matStepperPrevious>Back</button> &nbsp;
                            <button mat-raised-button (click)="register(registrationForm.value)" color="accent"
                                [disabled]="!registrationForm.valid"
                                type="submit">Submit
                            </button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
                <a routerLink="/" class="return">Return</a>
            </mat-card-content>
        </form>
    </mat-card>
</div>

