<div fxLayout="column" class="main-welcome" fxLayoutGap=10px>
    <h1 fxFlex class="title">
      <b>Bob's Computer Repair Shop</b><br />
      <span class="subtitle">
        We are dedicated to serving our customers and providing expert advice
      </span>
    </h1>
    <div class="about-content">
      <mat-divider class="divider"></mat-divider>
      <br />
      <div class="container">
      <p class="mat-body-for">
        <span class="p-title mat-headline"></span><br />

      </p>
      
      <br />
      <p class="mat-body-for thanks-container">
        <span class="p-title mat-headline">
      </p>
    </div>
    </div>
  </div>