<div fxLayout="column" style="margin-top: 8%">
  <mat-card fxFlex style="width: 65%; margin-left: 18%; margin-top: 5%" class="mat-elevation-z8">
      <mat-card-title style="text-align: center; font-weight: lighter;">Enter Your New Password</mat-card-title>

        <mat-card-content fxLayout="column" fxLayoutGap="10px">

          <form [formGroup]="form" (ngSubmit)="resetPassword()" #resetPasswordForm>
            <mat-card-content fxLayout="column">
              <mat-form-field fxFlex>
                <input matInput
                       type="password"
                       [formControl]="form.controls['password']"
                       placeholder="New password"/>
              </mat-form-field>

              <br/><br/>
              <div fxFlex fxLayoutAlign="end">
                <button mat-raised-button color="primary">Submit</button>
              </div>
            </mat-card-content>
          </form>

        </mat-card-content>

  </mat-card>
</div>



