<!--=========================
Name: Brittany Dockter
Date: April 19, 2020
Assignment: status code 500 page
Description: small error page for 500 code
==========================-->

<div flLayout="column">
    <mat-card fxLayout style="margin-top: 15%; width: 50%; margin-left: 25%;" class="mat-elevation-z8">
      <mat-card-title style="text-align: center; font-size: 48px;" class="mat-headline">500</mat-card-title><br />
      <mat-card-subtitle style="text-align: center;" class="mat-headline">Our servers are having issues...</mat-card-subtitle>
      <!-- add image and attribution -->
      <mat-card-content style="text-align: center">
        <button mat-raised-button color="primary" routerLink="/">Return to dashboard</button>
      </mat-card-content>
    </mat-card>
  </div>