<!--=========================
Name: Brittany Dockter, Justin Singleton, Gabriel Sanchez
Date: April 19, 2020
Assignment: forgot password page
Description: html build for forgot password form
==========================-->

<div fxLayout="column" style="margin-top: 8%">
  <mat-card fxFlex style="width: 65%; margin-left: 18%; margin-top: 5%" class="mat-elevation-z8">
      <mat-card-title style="text-align: center; font-weight: lighter;">Enter Your Username</mat-card-title>

        <mat-card-content fxLayout="column" fxLayoutGap="10px">

            <mat-form-field>
              <input type="text" matInput fxFlex [(ngModel)]="username"
              placeholder="Username"/>
            </mat-form-field>

            <br/><br/><br/>
            <div fxLayoutAlign="end" fxFlex>
                <button
                  mat-raised-button
                  color="accent"
                  routerLink="/security-questions/ask/{{username}}"
                  [disabled]="!username">Next</button>
            </div>

        </mat-card-content>

  </mat-card>
</div>
