<mat-card class='dashboard'>
  <mat-card-title style="text-align: center; font-size: 25px; font-weight: lighter;"
      class="mat-headline">Admin Dashboard
  </mat-card-title>
  <br />

  <mat-card-content style='text-align: center;'>
    <button class="admin-link" routerLink="/users" mat-button>Users</button>
    <br />
    <button class="admin-link" routerLink="/security-questions" mat-button>Security Questions</button>
    <br />
    <button class="admin-link" routerLink="/purchases-by-service" mat-button>Purchases Graph</button>
    <br />
    <button class="admin-link" routerLink="/role-create" mat-button>Create New Roles</button>
  </mat-card-content>
</mat-card>
