<mat-card>
  <h1 style="font-weight: lighter;">Welcome </h1>
  <br>

  <h2 >About</h2>
  <br />
  <p style="text-align: justify;">
    We are Team 5 from Bellevue University. The team members are Justin Singleton, Britanny Dockter and Gabriel Sanchez. We worked together to build Bob's Computer Repair Shop website.
    This is an application for Bob’s Computer Repair Shop, where users can register/login with accounts, order services or administrate the application and it’s users. There will be a place for contact information, services, account information, along with security features.
  </p>
  <p style="text-align: left;">We are using amazing new technologies such as the MEAN STACK, this includes MongoDB, Express, Angular and Node.js. </p>
  <h2>Our Mission</h2>
  <p>Develop the most amazing websites</p>
  <br>
  <br>
<div class="row">
  <div class="column">
    <div class="card">
      <h3>Britanny Docker</h3>
      <img src="./assets/images/brittany.jpeg" alt="Britanny" style="width:100%; padding-top: 10px;">
      <p style="text-align: justify;">I'm a 23 year old web development major, based in San Diego, California. I enjoy plants, coffee, and video games.</p>
      <p>San Diego California</p>
      <p>Ask for Email</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Justin Singleton</h3>
      <img src="./assets/images/Justin.jpeg" alt="Britanny" style="width:100%; padding-top: 10px;">
      <p style="text-align: justify;">I'm brand-new to Software Development, but am ready to begin. I'm a Husband and Father currently serving in the USAF. Working on Web Development degree now.</p>
      <p>Omaha, Nebraska, USA</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Gabriel Sanchez</h3>
      <img src="./assets/images/Gabriel.jpeg" alt="Britanny" style="width:100%; padding-top: 10px;">
      <p> I have an Associate's degree Computer Science, Networks. I am currently attending Bellevue University, in Omaha NE for Web Development.</p>
      <p>Omaha, Nebraska, USA</p>
    </div>
  </div>

</div>
<br>
<br>
<br>
</mat-card>

<br>
<br>



