<div fxLayout="column" style="margin-bottom: 100px;">
  <mat-card fxFlex style="width: 65%; margin-left: 18%; margin-top: 5%" class="mat-elevation-z8">
      <mat-card-title style="text-align: center; font-weight: lighter;">Answer Your Security Questions</mat-card-title>

      <!-- setting up form to receive data -->
      <form id="forgotForm" [formGroup]="form">
        <mat-card-content fxLayout="column" fxLayoutGap="10px">

          <mat-list>
            <mat-list-item>
                {{question1}}
            </mat-list-item>
                <!-- the answer is attached to the proper question -->
                &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-list-item>
                <mat-form-field fxFlex>
                    <input matInput
                        [formControl]="form.controls['answerToSecurityQuestion1']"
                        placeholder="Answer 1"/>
                </mat-form-field>
            </mat-list-item>

            <mat-list-item>
              {{question2}}
            </mat-list-item>

              &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-list-item>
                <mat-form-field fxFlex>
                    <input matInput
                        [formControl]="form.controls['answerToSecurityQuestion2']"
                        placeholder="Answer 2"/>
                </mat-form-field>
            </mat-list-item>

            <mat-list-item>
              {{question3}}
            </mat-list-item>

            &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-list-item>
                <mat-form-field fxFlex>
                    <input matInput
                        [formControl]="form.controls['answerToSecurityQuestion3']"
                        placeholder="Answer 3"/>
                </mat-form-field>
            </mat-list-item>
        </mat-list>

          <br/><br/><br/>
          <div fxLayoutAlign="end" fxFlex>
              <button mat-raised-button color="accent" (click)='getNew()'>Next</button>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
</div>
